#question1 {
    display: none;
}

#question2{
    display: none;
}

#question3{
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    margin: 0;
    background-color: #FFF7F1;
}

main {
    flex: 1;
}


header {
    background-color: #E78895;
    color: #FFF7F1;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}


#logo a:hover {
    cursor: pointer;
}

#logo {
    width: 7vw;
    margin-right: 10px;
    margin-left: 20px;
}

#logo img {
    width: 10vw;
   
    margin-left: 20px;
}

#title {
    font-size: 2.5vw;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#title a {
    text-decoration: none;
    color: #FFF7F1;
}

#imagecar{
 z-index: 0;
 width: 100%;
 height: 20vh;
}

#control{
    z-index: 1;
}


.carouselImage
{
    width: 100%;
    height: 9rem;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
}

.carimage1 h3{
    color: #4f857f;
}

.submit-button1{
    background-color: #4f857f;
}

.color-div{
    background-color: (79,133,127,30);
    border-radius: 15%;
}